.content {
    width: 100%;
    margin: 10px;
}
.content-header {
    display: flex;
    justify-content: space-between;
}

.content-description {
    margin-top: 50px;
    position: absolute;
    bottom: 10px;
}

.settingsButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settingsIcon {
    top: 10px;
    right: 10px;
    position: absolute;
}